<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seafoam Travel</title>

  <%- include('./partials/css-global'); %>
<style>

</style>
</head>
<body>
  <%- include('./partials/nav.ejs'); %>
  <%- include('./partials/header.ejs'); %>
  <main>

    <h1 id= "Gallery">Destinations</h1>
    
      <div class="gallery"></div>
    
    <h1 id="ContactUs">Contact Us</h1>

    <form
      action="branden.arthur13@gmail.com"
      method="POST">
      <label class="required">
        Full Name:
        <input type="text" id="fullName" name="fullName">
      </label>
      <label class="required">
        Your Email:
        <input type="email" id="mail" name="email">
      </label>
      <label>
        Message:
        <textarea name="message"></textarea>
      </label>
      <input type="submit" value="Send">
    </form>
  </main>
  <%- include('./partials/foot'); %>
  <%- include('./partials/form-js.ejs'); %>
  <%- include('./partials/gallery-js.ejs'); %>
</body>

</html>